<!-- ============================================
     FOOTER
     This file is included on every page
     Change it here and it updates everywhere
     ============================================ -->
<footer id="footer">

  <!-- Left side - site name -->
  <span class="footer-brand">My Data Journal</span>

  <!-- Right side - links -->
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/anushahegde10" 
       target="_blank">LinkedIn</a>
    <a href="https://github.com/anushahegde10" 
       target="_blank">GitHub</a>
    <!--<a href="{{ '/connect/' | relative_url }}">Connect</a>-->
  </div>

</footer>